body {
    background-color: crimson;
    text-align: center;
}

h1 {
    font-size: 45px;
    font-family: fantasy;
    font-weight: 300;
}

#apps {
    width: 100%;
    height: 800px;
    background-color: cyan;
}

#games {
    width: 100%;
    height: 800px;
    background-color: blueviolet;
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color: darkgoldenrod;
}

img {
    transition: transform.2s
}

img:hover {
    transform: scale(0.9)
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
